<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Jdelak\Offer\Api\OfferRepositoryInterface" type="Jdelak\Offer\Model\OfferRepository"/>
	<preference for="Jdelak\Offer\Api\Data\OfferInterface" type="Jdelak\Offer\Model\Data\Offer"/>
	<preference for="Jdelak\Offer\Api\Data\OfferSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Jdelak\Offer\Model\ResourceModel\Offer\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">jdelak_offer_offer</argument>
			<argument name="resourceModel" xsi:type="string">Jdelak\Offer\Model\ResourceModel\Offer\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="jdelak_offer_offer_listing_data_source" xsi:type="string">Jdelak\Offer\Model\ResourceModel\Offer\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Vendor\Module\Model\ImageUploader">
		<arguments>
			<!-- Temporary file stored in pub/media/offer/tmp/image -->
			<argument name="baseTmpPath" xsi:type="string">offer/tmp/image</argument>
			<argument name="basePath" xsi:type="string">offer/image</argument>
			<argument name="allowedExtensions" xsi:type="array">
				<item name="jpg" xsi:type="string">jpg</item>
				<item name="jpeg" xsi:type="string">jpeg</item>
				<item name="gif" xsi:type="string">gif</item>
				<item name="png" xsi:type="string">png</item>
			</argument>
		</arguments>
	</type>
</config>
